# Python practice problems with for loops, dict, input

In [45]:
# Review Python "input" # this should help with assignments below

In [1]:
Olympic_year = input("Which year will be next summer Olympics? ")

Which year will be next summer Olympics? 2020

In [4]:
print(type(Olympic_year)) # it is string
print(Olympic_year)

<class 'str'>
2020

In [3]:
print(type(int(Olympic_year))) # it is integer

<class 'int'>

1) Write a for loop to print "Hello" 10 times.

In [5]:
# Write code here ...
for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

2) Write a for loop to print even numbers in the range 1 .. 20

In [11]:
# Write code here ...
even= [i for i in range(1,21) if i%2 ==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [51]:
"""
3) Define a list of animals to be as follows:
animals = ["lion","tiger","elephant","giraffe","zebra"]

Now print animal names using for loop. The output should be as follows:
1 lion
2 tiger
3 elephant
4 giraffe
5 zebra
"""

'\n3) Define a list of animals to be as follows:\nanimals = ["lion","tiger","elephant","giraffe","zebra"]\n\nNow print animal names using for loop. The output should be as follows:\n1 lion\n2 tiger\n3 elephant\n4 giraffe\n5 zebra\n'

In [12]:
# Write code here ...
animals = ["lion","tiger","elephant","giraffe","zebra"]
for item in animals:
    print(item)

lion
tiger
elephant
giraffe
zebra

In [53]:
"""
4) Visiting moon every year for next 10 years
The weight on moon can be estimated to be 18%  of weight on earth.
Write a program which will ask the user to enter current earth weight.
Then calculate weight on moon. Assume our weight increases by 2 pounds every year on earth.

Use for loop to print weight on moon each year when you visit.
"""

'\n4) Visiting moon every year for next 10 years\nThe weight on moon can be estimated to be 18%  of weight on earth.\nWrite a program which will ask the user to enter current earth weight.\nThen calculate weight on moon. Assume our weight increases by 2 pounds every year on earth.\n\nUse for loop to print weight on moon each year when you visit.\n'

In [23]:
# Write code here ...
earth_weight=input("Enter current weight on Earth in pounds:")
earth_weight=int(earth_weight)
for year in range(1,11):
    moon_weight=round(0.18*earth_weight,2)
    earth_weight=earth_weight+2
    print("Weight on moon in year "+ str(year) +" %f" %moon_weight)

Enter current weight on Earth in pounds:100
Weight on moon in year 1 18.000000
Weight on moon in year 2 18.360000
Weight on moon in year 3 18.720000
Weight on moon in year 4 19.080000
Weight on moon in year 5 19.440000
Weight on moon in year 6 19.800000
Weight on moon in year 7 20.160000
Weight on moon in year 8 20.520000
Weight on moon in year 9 20.880000
Weight on moon in year 10 21.240000

5) Write a for loop to find the sum of all numbers from 1 to 100; 1 + 2 + ... + 99 + 100

In [34]:
# Write code here ...
s=0
for n in range(1,101):
    s+=n
print(s)

5050

6) Write a for loop which will ask the user to input 4 numbers. The program should calculate sum of 4 numbers and print the sum.

In [38]:
# Write code here ...
s=0
for i in range(4):
    n=input("Enter Number:")
    n=int(n)
    s+=n
    
print("The sum of all the 4 numbers is %i" %s)

Enter Number:1
Enter Number:2
Enter Number:3
Enter Number:4
The sum of all the 4 numbers is 10

7) Write a Python for loop to find product of even number from 1 to 50;
2 x 4 x 6 x 8 x ... x 42 x 44 x 46 x 50

In [39]:
# Write code here ...
p=1
for n in range(1,51):
    if n%2==0:
        p=p*n
print(p)

520469842636666622693081088000000

8a) Find the index of minimum and maximum number in MyList.

In [40]:
myList = [46, 84, 43, 75, 94, 7, 17, 76, 44, 17, 81, 21, 70, 56, 98, 88, 59, 58, 62, 77, 
          56, 19, 83, 82, 2, 38, 8, 57, 80, 54, 71, 74, 77, 18, 66, 25, 60, 29, 30, 11, 
          45, 60, 92, 44, 71, 49, 22, 74, 30, 58, 73, 60, 14, 97, 13, 78, 42, 17, 98, 14, 
          19, 79, 54, 56, 84, 81, 49, 18, 95, 36, 84, 77, 44, 69, 48, 94, 66, 13, 96, 7, 
          9, 47, 4, 37, 71, 51, 9, 28, 92, 38, 75, 66, 2, 34, 88, 4, 43, 75, 57, 83,
          63, 17, 25, 98, 71, 95, 1, 86, 97, 90, 6, 96, 11, 49, 16, 91, 50, 66, 54, 94,
          75, 69, 97, 23, 50, 13, 75, 15, 77, 17, 57, 59, 47, 44, 95, 28, 16, 72, 69, 7,
          14, 76, 10, 21, 56, 89, 51, 78, 25, 7, 8, 17, 53, 86, 58, 35, 46, 16, 74, 21, 9,
          4, 91, 59, 84, 50, 86, 60, 63, 99, 92, 64, 55, 40, 93, 39, 48, 96, 49, 98, 36,
          72, 82, 45, 62, 58, 77, 17, 42, 49, 38, 21, 84, 61, 77, 1, 37, 31, 50, 52, 58]

In [50]:
# Write code here ...
min_item=min(myList)
max_item=max(myList)
min_indices=[i for i,e in enumerate(myList) if e==min_item]
print("Minimum number indices:" + str(min_indices))
max_indices=[i for i,e in enumerate(myList) if e==max_item]
print("Maximum number indices:" + str(max_indices))

Minimum number indices:[106, 195]
Maximum number indices:[169]

8b) In myList, find top-5 highest frequency numbers. List the numbers and number of occurences.

In [66]:
# write code here ...
d={}
for item in myList:
    count_item=myList.count(item)
    d[item]=count_item
sorted_d=[(k,d[k]) for k in sorted(d, key=d.get, reverse=True)[:5]]
sorted_d=dict(sorted_d)
print(sorted_d)

{17: 7, 77: 6, 84: 5, 75: 5, 58: 5}

9) Write a Python program to convert temperature from Centigrade to Fahrenheit
and Fahrenheit to Centigrade. At the start, the program should ask which way we are converting.

Then ask the user to input the temperature. Your program should do the conversion
and print the results.

(C x 9/5) + 32 = F

In [69]:
# Write code here 
reply=input("Converting from Centigrade to Fahrenheit? (YES/NO):")
temp=input("Enter temperature:")
temp=int(temp)
if reply=='YES':
    F=round((temp*9/5)+32,2)
    print("Temperature in Fahrenheit is %i" %F)
else:
    C=round(temp-32)*5/9
    print("Temperature in Centigrade is %i" %C)

Converting from Centigrade to Fahrenheit? (YES/NO):YES
Enter temperature:38
Temperature in Fahrenheit is 100

In [62]:
"""
10) Print the times table:
1x1=1 1x2=2 1x3=3 1x4=4 1x5=5
2x1=2 2x2=4 2x3=6 2x4=8 2x5=10
3x1=3 3x2=6 3x3=9 3x4=12 3x5=15
4x1=3 4x2=6 4x3=9 4x4=12 4x5=15
5x1=3 5x2=6 5x3=9 5x4=12 5x5=15

Use for loop nested with for loop to print the above multiplication table
"""

'\n10) Print the times table:\n1x1=1 1x2=2 1x3=3 1x4=4 1x5=5\n2x1=2 2x2=4 2x3=6 2x4=8 2x5=10\n3x1=3 3x2=6 3x3=9 3x4=12 3x5=15\n4x1=3 4x2=6 4x3=9 4x4=12 4x5=15\n5x1=3 5x2=6 5x3=9 5x4=12 5x5=15\n\nUse for loop nested with for loop to print the above multiplication table\n'

In [80]:
# write code here 
for i in range(1,6):
    for j in range(1,6):
        p=i*j
        line=str(i) + 'x'+str(j)+'=%i'%p
        print(line,sep=' ', end=' ')
    print()

1x1=1 1x2=2 1x3=3 1x4=4 1x5=5
2x1=2 2x2=4 2x3=6 2x4=8 2x5=10
3x1=3 3x2=6 3x3=9 3x4=12 3x5=15
4x1=4 4x2=8 4x3=12 4x4=16 4x5=20
5x1=5 5x2=10 5x3=15 5x4=20 5x5=25